.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--grey);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    margin: 0px auto;
}

.image-container {
    flex: 1;
    width: 48%;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.form-container {
    width: 48%;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h8 {
    margin-bottom: 70px;
    font-family: 'TRIAL_Oceanic', sans-serif;
    font-weight: 500;
    font-size: 70px; 
    color: var(--coral);
}

.form-container h9 {
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

label {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: start;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    height: 42px;
}

button {
    align-self: center;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dbdbdb;
}

button.success {
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

button.error {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.checkmark {
    color: white;
    font-size: 17px;
}

@media (max-width: 1360px) {
    .container {
        width: 90%;
        margin: 0px auto;
        padding: 0px 0px;
        flex-direction: column; /* Вертикальное расположение для мобильных */
        align-items: center; /* Центрирование элементов */
        overflow-x: hidden;
    }
    
    .image-container {
        width: 48%;
        padding: 30px 0px;
    }
    .form-container {
        width: 90%;
        padding: 0px 0px 30px 0px;
    }
    form {
        width: 100%;
        max-width: 600px;
    }
    .form-container h8 {
        font-size: 70px; 
        margin-bottom: 50px;
    }
    
    .form-container h9 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 18px;
    }
    button {
        font-size: 18px;
    }
}
@media (max-width: 1050px) {
    .image-container {
        width: 60%;
        padding: 30px 0px;
    }
    .form-container h8 {
        font-size: 60px; 
        margin-bottom: 40px;
    }
    
    .form-container h9 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 17px;
    }
    button {
        font-size: 17px;
    }
}
@media (max-width: 768px) {
    .image-container {
        width: 70%;
    }
    .form-container h8 {
        font-size: 50px; 
        margin-bottom: 40px;
    }
    
    .form-container h9 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
}
@media (max-width: 525px) {
    .image-container {
        width: 80%;
    }
    .form-container h8 {
        font-size: 40px; 
        margin-bottom: 40px;
    }
    
    .form-container h9 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 15px;
    }
    button {
        font-size: 15px;
    }
}
@media (max-width: 382px) {
    .image-container {
        width: 90%;
    }
    .form-container h8 {
        font-size: 40px; 
        margin-bottom: 40px;
    }
    
    .form-container h9 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 15px;
    }
    button {
        font-size: 15px;
    }
}